
<% card_type.each do |card| %>
  <!-- <div class="row">
		<div class="col-xs-8 col-xs-offset-2">
		  <div class="well well-lg">
		  	<div class="card-title">
		  		<%= link_to card.name, card_path(card) %>
		  	</div>
		  </div>
		</div>
	</div>
 -->
	<div align="center">

	<div align="center" class="panel panel-info card-panel">
	  <div class="panel-heading"><%= link_to card.name, card_path(card) %></div>
		  <div class="panel-body">
		    
		  </div>
	</div>
</div>

<% end %>