$navbar-default-bg: black;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.hidden_option {
	display: none;
}

#nav-logo {
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	float: left;
	font-size: 1.7em;
	letter-space: -1px;
}

.panel-card {
  margin: auto;
	width: 350px;
}

.panel-card_group {
	width: 70%;
	margin: auto;
}

.card-name {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	text-transform: uppercase;
	color: #fff;
}

.form-add-trait {
	font-weight: bold;
	text-align: center;
	font-size: 1.7em;
}

.trait-display-name {
	font-weight: bold;
	font-size: 1.1em;
	left: 20px;
}

.trait-display-value {
	text-align: center;
}

.trait-listing {
	list-style: none;
}

.show-card-table {
	width: 50%;
	margin: auto;
}

.show-card-trait {
	width: 70%;
}

.card-edit-warning {
	font-style: italic;
	font-size: .9em;
	text-align: center;
}

.single-card {
	margin: auto;
	width: 385px;
}

.search_button {
	padding-left: 15px;
	padding-top: 8px;
}